.slide-bg-color{
  background-color: #FCEAE8;
}
.dolar-color{
  color: #FE1F76;
}
.buynow-bg-color{
  background-color: #FE1F76;
}

/* watch */

.watch-bg-color{
  background-color: #FCAC14;
}
.bag-bg-color{
  background-color: #DA6FD5;
}
.shoe-bg-color{
  background-color: #0000FE;
}
.button-bg-color{
  background-color: #FD297D;
}